.portfolio {
  background-color: #202020;
  padding: 0 70px 114px 70px;
}

.portfolio__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  mix-blend-mode: normal;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.portfolio__list-item {
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: solid;
  border-bottom-color: #424242;
  border-bottom-width: 1px;
}

.portfolio__list-item:last-of-type {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.portfolio__ref {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  transition: opacity linear 0.3s 0s;
}

.portfolio__ref:hover {
  opacity: 0.4;
}

.portfolio__arrow {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: -0.04em;
  color: #FFF;
}

@media screen and (max-width: 1100px) {
  .portfolio {
    padding: 0 50px 90px 50px;
  }

  .portfolio__ref {
    font-size: 28px;
  }

  .portfolio__arrow {
    font-size: 28px;
  }
}

@media screen and (max-width: 800px) {
  .portfolio {
    padding: 0 14px 70px 14px;
  }

  .portfolio__title {
    font-size: 14px;
    margin-bottom: 40px;
  }

  .portfolio__ref {
    font-size: 18px;
    line-height: 28px;
  }

  .portfolio__arrow {
    font-size: 18px;
    line-height: 28px;
  }
}

